[Desktop Entry]
Encoding=UTF-8
Name=Link para Visualizar o anexo benjamin-davies-Oja2ty_9ZLM-unsplash.jpgVisualizar o anexo benjamin-davies-Oja2ty_9ZLM-unsplash.jpgbenjamin-davies-Oja2ty_9ZLM-unsplash.jpg4.6 MB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=18bbb8b255&attid=0.6&permmsgid=msg-f:1874411068363238967&th=1a033eef84d9ee37&view=att&disp=safe&realattid=f_mt79laon0&zw
Icon=text-html
