[Desktop Entry]
Encoding=UTF-8
Name=Link para Visualizar o anexo luca-bravo-_QdFx92MO2U-unsplash.jpgVisualizar o anexo luca-bravo-_QdFx92MO2U-unsplash.jpgluca-bravo-_QdFx92MO2U-unsplash.jpg3.5 MB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=18bbb8b255&attid=0.5&permmsgid=msg-f:1874411068363238967&th=1a033eef84d9ee37&view=att&disp=safe&realattid=f_mt79lapa4&zw
Icon=text-html
