[Desktop Entry]
Encoding=UTF-8
Name=Link para Visualizar o anexo chris-karidis-nnzkZNYWHaU-unsplash.jpgVisualizar o anexo chris-karidis-nnzkZNYWHaU-unsplash.jpgchris-karidis-nnzkZNYWHaU-unsplash.jpg1.9 MB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=18bbb8b255&attid=0.3&permmsgid=msg-f:1874411068363238967&th=1a033eef84d9ee37&view=att&disp=safe&realattid=f_mt79laow1&zw
Icon=text-html
