[Desktop Entry]
Encoding=UTF-8
Name=Link para Visualizar o anexo jayme-mccolgan-IP1rSwr8R6o-unsplash.jpgVisualizar o anexo jayme-mccolgan-IP1rSwr8R6o-unsplash.jpgjayme-mccolgan-IP1rSwr8R6o-unsplash.jpg770 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=18bbb8b255&attid=0.2&permmsgid=msg-f:1874411068363238967&th=1a033eef84d9ee37&view=att&disp=safe&realattid=f_mt79lap63&zw
Icon=text-html
